@import './_typo.scss';
@import './_colors.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

body{
    background: radial-gradient(
        126.67% 350.28% at -21.35% 0%,
        #11213F 0%,
        #0B0B0B 39.1%,
        rgba(2, 23, 64,0.837641) 94.57%,
        rgba(2, 23, 64, 0) 100%
    );
    font-family: 'cantarell';
    font-size: 16px;
    color: $white;
}

%titre{
    font-family: 'panthera';
    font-size: 50px;
    color: $gray;
}

%sous-titre{
    font-family: 'beyno';
    font-size: 30px;
    color: $gray;
}

%sous_titre_wakanda{
    font-family: 'wakanda';
    font-size: 30px;
    color: $gray;
}