@font-face {
    font-family: 'panthera';
    src: url(../font/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: 'beyno';
    src: url(../font/FontsFree-Net-BEYNO.ttf);
}

@font-face {
    font-family: 'wakanda';
    src: url(../font/WakandaForever-Regular.ttf);
}

@font-face {
    font-family: 'cantarell';
    src: url(../font/Cantarell-Regular.ttf);
}